.sidebar{
  float: right;
  background-color: red;
  border: solid green;
}

#title{
  text-align: center;
}
#picture1{
  width: 50%;
  height: auto;
  margin-left: 275px;
  margin-right: 75px;
  margin-top: 0px;
}

.column {
  width: 300px;
  float:left;
  margin-left: 40px;
  margin-top: 10px;
  border: solid green;
  padding: 1%;
  background-color: lightgreen;
}
body{
  background-color: lightblue;
}
